<!DOCTYPE html>
<html>
<head>

<title>Sửa tài liệu</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<div class="container">

<h2>Sửa tài liệu</h2>

<form method="POST" enctype="multipart/form-data">

<input
type="text"
name="title"
value="{{ document.title }}"
required>

<input
type="text"
name="category"
value="{{ document.category }}"
required>

<input
type="file"
name="file">

<button type="submit">
Cập nhật
</button>

</form>

</div>

</body>
</html>