<!DOCTYPE html>
<html>
<head>

<title>Trang chủ</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}?v=2.5">

</head>
<body>

<div class="container">

    <h1>Tra cứu tài liệu</h1>

    <div class="menu">

    <a href="/add">Thêm tài liệu</a>

    <a href="/search">Tìm kiếm</a>

    <a href="/logout">Đăng xuất</a>

    </div>

    <table>

    <tr>
    <th>STT</th>
    <th>Tên tài liệu</th>
    <th>Thể loại</th>
    <th>Chỉnh sửa</th>
    <th>Xóa</th>
    <th>Hành động</th>
    </tr>

    {% for doc in documents %}

    <tr>

    <td>{{ loop.index }}</td>

    <td>{{ doc.title }}</td>

    <td>{{ doc.category }}</td>

    <td>
    <a href="/edit/{{ doc.id }}">
    Sửa
    </a>
    </td>

    <td>
    <a href="/delete/{{ doc.id }}">
    Xóa
    </a>
    </td>
    <td>
    {% if doc.file_path %}
        <a href="{{ url_for('download_file', filename=doc.file_path) }}" class="btn-download" download>
             Tải về
        </a>
    {% else %}
        <span style="color: #999;">Không có file</span>
    {% endif %}
    </td>

    </tr>

    {% endfor %}

    </table>

</div>

</body>
</html>